<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CognitoClientId</key>
	<string>changeme</string>
	<key>CognitoClientSecret</key>
	<string>changeme</string>
	<key>CognitoUserPoolId</key>
	<string>changeme</string>
</dict>
</plist>
